<changePassword:>
    {{#if _session.loggedIn}}
        {#with :self}
            <form id="derby-auth-change-password" x-bind="submit:submitPasswordChange">

                <input type="hidden" name="uid" value="{{_session.userId}}" />

                <div class="control-group {#if .errors.oldPassword}error{/}">
                    <input type='password' name="old-password" placeholder="Gammalt Lösenord" value="{.oldPassword}"/>
                    <span class="help-block">{.errors.oldPassword}</span>
                </div>

                <div class="control-group {#if .errors.password}error{/}">
                    <input type='password' name="password" placeholder="Nytt Lösenord" value="{.password}"/>
                    <span class="help-block">{.errors.password}</span>
                </div>

                <div class="control-group {#if .errors.passwordConfirmation}error{/}">
                    <input type='password' name="password-confirmation" placeholder="Bekräfta Lösenordet" value="{.passwordConfirmation}"/>
                    <span class="help-block">{.errors.passwordConfirmation}</span>
                </div>

                {#if .canSubmit}
                    <input type="submit" value="Ändra" class="btn"/>
                {else}
                    <input type="submit" value="Ändra" class="btn disabled" disabled/>
                {/}
            </form>
        {/}
    {{/}}
